.photoCollections {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow: 'hidden';
  color: white;
  flex-wrap: wrap;
}

.responsive-image {
  padding:5px;
}

.form * {
  margin: 3px;
}


.collection-card-media {
  min-height:150px;
  min-width:150px;

}

.title-card {
  max-width: 150px;
}

.collection-card {
  margin: 3px;
}